<h2><strong>Starred Recipes</strong></h2>

<div class="main">

  <ul>
    <% @favorites.each do |favorite| %>
    <li>  <%= link_to favorite.recipe.name, recipe_path(favorite.recipe) %> </li>
    <% end %>
  </ul>

</div>
