<div class="main">

  <h2><strong>Starred Recipes</strong></h2>

  <ul>
    <% @favorites.each do |favorite| %>
    <li>  <%= link_to favorite.recipe.name, recipe_path(favorite.recipe) %> </li>
    <% end %>
  </ul>

  <h2>All Ingredients Needed</h2>
  <ul>
    <% @favorites.each do |favorite| %>
      <% favorite.recipe.ingredients.each do |ingredient| %>
      <li><%= ingredient.name %></li>
      <% end %>
    <% end %>
  </ul>

</div>
