
  <h2>Edit <%= @recipe.name %></h2>
    <%= render 'form' %>

    <p><%= link_to "Add Recipe Ingredients", new_recipe_amount_path(@recipe) %></p>

    <p><%= link_to "Delete", recipe_path(@recipe), method: :delete, class: "delete" %></p>
</div>
