

  <h2><strong>Recipes</strong> <% if current_user %><%= link_to "(+)", new_recipe_path %><% end %></h2>

  <div class="recipe-index">
    <% @recipes.each do |recipe| %>
    <h3 class="recipe-name">
      <%= link_to recipe.name, recipe %>
    </h3>
    <p class="recipe-description">
      <%= recipe.description %>
    </p>
    <% end %>
  </div>

</div>
